<div class="uk-grid-collapse uk-visible@s" uk-height-viewport="expand: true" uk-grid>
  <div class="uk-width-1-6 csms-background-first-menu uk-inline">
    <app-left-menu-component [projects]="projects" [sharedProjects]="sharedProjects" [loading]="projectsLoading" (projectSelect)="onProjectSelect($event)"
      (sharedProjectSelect)="onSharedProjectSelect($event)" (profileSelect)="onProfileSelect()" (licenseSelect)="onLicenseSelect()"></app-left-menu-component>
  </div>
  <div *ngIf="selectedProject" class="uk-width-1-4 csms-background-second-menu" [@showMenu]>
    <app-right-menu-component [project]="selectedOwnProject" [sharedProject]="selectedSharedProject" (select)="onProjectOptionSelect($event)"></app-right-menu-component>
  </div>
  <div class="uk-width-expand csms-background-white uk-panel-scrollable uk-height-1-1">
    <div *ngIf="showMainProfile">
      <app-license-data *ngIf="showLicense" [projectsLoading]="projectsLoading"></app-license-data>
      <app-user-profile *ngIf="showProfile"></app-user-profile>
    </div>
    <div *ngIf="showMainProject">
      <app-project-statistics *ngIf="showProjectStatistics" [project]="selectedProject"></app-project-statistics>
      <app-upload-files *ngIf="showAddRun" [(project)]="selectedProject"></app-upload-files>
      <app-chart *ngIf="showChartAverage" [project]="selectedProject"></app-chart>
      <app-by-file-graphs *ngIf="showChartByFile" [project]="selectedProject"></app-by-file-graphs>
      <app-cautious-graphs *ngIf="showChartCautious" [project]="selectedProject"></app-cautious-graphs>
      <app-severe-graphs *ngIf="showChartSevere" [project]="selectedProject"></app-severe-graphs>
      <app-project-settings *ngIf="showSettings" [(project)]="selectedProject"></app-project-settings>
      <app-export-metrics *ngIf="showExport" [project]="selectedProject"></app-export-metrics>
      <app-delete-project *ngIf="showDelete" [(project)]="selectedProject" (projectDelete)="onProjectDelete()">
      </app-delete-project>
    </div>
  </div>
</div>
<app-create-project (projectAdded)="onProjectAdded($event)"></app-create-project>
<app-loading-circle [loading]="loading"></app-loading-circle>
<div class="uk-width-1-1 uk-hidden@s uk-text-center uk-position-center">
  <div class="headerOne">Application Not Permitted for Mobile Apps</div>
</div>
