<ul [attr.data-uk-switcher]="switcherDataName" class="uk-tab">
    <li><a href="javascript:void(0);">Direct Class Coupling</a></li>
    <li><a href="javascript:void(0);">Lack of Cohesion</a></li>
    <li><a href="javascript:void(0);">SLOC</a></li>
    <li><a href="javascript:void(0);">Complexity</a></li>
</ul>
<ul [id]="switcherName" class="uk-switcher">
    <li>
        <app-metric-settings [project]="project" [metricName]="'DCC'" [sourceType]="sourceType"
        (metricSeverityChange)="onMetricSeverityChanged($event)"></app-metric-settings>
    </li>
    <li>
        <app-metric-settings [project]="project" [metricName]="'LCOM'" [sourceType]="sourceType"
        (metricSeverityChange)="onMetricSeverityChanged($event)"></app-metric-settings>
    </li>
    <li>
        <app-metric-settings [project]="project" [metricName]="'SLOC'" [sourceType]="sourceType"
        (metricSeverityChange)="onMetricSeverityChanged($event)"></app-metric-settings>
    </li>
    <li>
        <app-metric-settings [project]="project" [metricName]="'WMC'" [sourceType]="sourceType"
        (metricSeverityChange)="onMetricSeverityChanged($event)"></app-metric-settings>
    </li>
</ul>