<div class="uk-placeholder">
    <h3>Update Profile</h3>
    <form ngNativeValidate (ngSubmit)="onSaveUser()">
        <label class="csms-form-label" for="firstName">First Name</label>
        <input type="text" class="csms-input-text csms-input" name="firstName" [(ngModel)]="user.firstName" required />
        <label class="csms-form-label" for="lastName">Last Name</label>
        <input type="text" class="csms-input-text csms-input" name="lastName" [(ngModel)]="user.lastName" required />
        <label class="csms-form-label" for="company">Company</label>
        <input type="text" class="csms-input-text csms-input" name="company" [(ngModel)]="user.company" required />
        <button type="submit" class="csms-button-purple uk-margin-top">Save</button>
    </form>

    <hr />

    <h3>Renew License</h3>
    <form ngNativeValidate (ngSubmit)="onUpdateLicense()">
        <label class="csms-form-label" for="licenseKey">License Key</label>
        <textarea class="csms-input" name="licenseKey" [(ngModel)]="license.license" rows="4" required></textarea>
        <button type="submit" class="csms-button-purple uk-margin-top">Update</button>
    </form>
</div>

<app-loading-circle [loading]="loading"></app-loading-circle>