<h3>Delete Metrics Runs</h3>
<table class="uk-table uk-table-striped">
    <thead>
        <tr>
            <th>Metrics Run</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let metric of project.projectMetrics">
            <td>{{ getMetricLabel(metric) }}</td>
            <td><span uk-icon="icon: trash" (click)="onSelectDelete(metric)"></span></td>
    </tbody>
</table>

<p>Warning: Once deleted, metrics runs cannot be recovered!</p>

<button type="button" class="uk-button uk-button-danger" (click)="onSave()">
    Save
</button>

<app-loading-circle [loading]="loading"></app-loading-circle>