<div class="uk-align-center uk-width-5-6 uk-margin-large-top">
  <ul class="uk-list uk-list-large csms-list">
    <li>
      <div class="menuHeaderThree uk-text-uppercase menugray">Project Menu</div>
    </li>
    <li>
      <a (click)="onByFileClick()">
        <span class="menuHeaderFour menugray">By File</span> <span uk-icon="icon: chevron-right" class="uk-align-right"></span>
      </a>
    </li>
    <li>
      <a (click)="onCautiousClick()">
        <span class="menuHeaderFour menugray">Cautious</span> <span uk-icon="icon: chevron-right" class="uk-align-right"></span>
      </a>
    </li>
    <li>
      <a (click)="onSevereClick()">
        <span class="menuHeaderFour menugray">Severe</span> <span uk-icon="icon: chevron-right" class="uk-align-right"></span>
      </a>
    </li>
    <li>
      <a (click)="onAverageClick()">
        <span class="menuHeaderFour menugray">Average</span> <span uk-icon="icon: chevron-right" class="uk-align-right"></span>
      </a>
    </li>
    <li>
      <a (click)="onExportClick()">
        <span class="menuHeaderFour menugray">Export</span> <span uk-icon="icon: chevron-right" class="uk-align-right"></span>
      </a>
    </li>
  </ul>
</div>
