<div class="uk-inline">
  <img src="../../../assets/csms-background.jpg" class="uk-width-1-1 halfopacity blur" />
  <div class="uk-position-cover">
    <div class="uk-grid-collapse uk-child-width-1-2" uk-grid>
      <div>
        <div class="uk-position-bottom-left uk-margin-left uk-margin-bottom">
          <div class="uk-text-large white">{{ project.name }}</div>
          <div class="uk-text-small lightlavender">
            <div *ngIf="loading" uk-spinner></div>
            <span *ngIf="!loading">{{ companyName }}</span>
          </div>
        </div>
      </div>
      <div>
        <!-- <a href="javascript:void(0);" (click)="onImageEdit()"
          class="uk-icon-button uk-position-bottom-right uk-margin-right uk-margin-bottom"
          uk-icon="icon: camera"
        ></a> -->
      </div>
    </div>
  </div>
</div>
