<div class="uk-margin-bottom">
    <div class="uk-align-right">
        <ul class="uk-iconnav uk-margin-right">
            <li *ngIf="loading">
                <div uk-spinner></div>
            </li>
            <li *ngIf="!loading">
                <a href="javascript:void(0);" uk-toggle="target: #shareProject" uk-icon="icon: users"></a>
            </li>
            <li><a (click)="onAddRunClick()" uk-icon="icon: plus-circle"></a></li>
            <li><a (click)="onSettingsClick()" uk-icon="icon: cog"></a></li>
        </ul>
    </div>
    <div class="uk-float-left uk-align-left right-menu-bottom-float-options">
        <ul class="uk-iconnav uk-margin-left">
            <li><a (click)="onDelete()" uk-icon="icon: trash"></a></li>
        </ul>
    </div>
</div>

<app-share-project-modal [project]="project" [sharedUsers]="sharedUsers"></app-share-project-modal>
