<a class="csms-button-purple csms-title-button uk-align-center uk-margin-top uk-width-3-4" href="http://codechowder.com/"
    target="_blank">
    <span uk-icon="icon: paint-bucket"></span> Measure
</a>
<ul class="uk-list uk-list-large uk-text-small csms-projects-list">
    <li>
        <a class="csms-button-link-blue-gray" uk-toggle="target: #createProject"><span uk-icon="icon: plus"></span> New Project</a>
    </li>
    <li *ngFor="let project of projects">
        <a class="" (click)="onProjectSelect(project)"><span uk-icon="icon: grid"></span> {{ project.name }}</a>
    </li>
    <li *ngIf="loading">
        <div uk-spinner></div>
    </li>
    <li *ngFor="let project of sharedProjects">
        <a class="" (click)="onSharedProjectSelect(project)"><span uk-icon="icon: users"></span> {{ project.name }}</a>
    </li>
    <div class="csms-menu-bottom uk-position-bottom-left uk-margin-bottom">
        <a class="csms-button-link-blue-gray uk-margin-bottom" (click)="onLicenseClick()"><span uk-icon="icon: settings"></span></a>
        <a class="csms-button-link-blue-gray uk-margin-bottom" (click)="onProfileClick()"><span uk-icon="icon: user"></span></a>
    </div>
    <div class="csms-menu-bottom uk-position-bottom-right uk-margin-bottom">
        <a class="csms-button-link-blue-gray uk-margin-bottom" (click)="onLogout()"><span uk-icon="icon: sign-out"></span> Logout</a>
    </div>
</ul>