<app-right-menu-top [project]="ownProject" [sharedProject]="sharedProject"></app-right-menu-top>
<app-right-menu-middle (select)="onSelect($event)"></app-right-menu-middle>
<app-right-menu-bottom [project]="project" (select)="onSelect($event)"></app-right-menu-bottom>
