@import "../../../theme/colors.scss";
$base-dimension: 5rem;
$border-width: .5rem;
$clip-dimension: ($base-dimension + (2 * $border-width)) / 2;
.uk-overlay {
  background-color: rgba(255, 255, 255, .5);
  position: fixed;
  z-index: 1500;
}

.spinner-outer {
  height: $base-dimension;
  width: $base-dimension;
  padding: $border-width;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  clip: rect(0, $clip-dimension, $clip-dimension, 0);
  animation: rotation infinite 1s linear;
  z-index: 2000;
}

.spinner-inner {
  height: $base-dimension;
  width: $base-dimension;
  border-radius: 100%;
  box-shadow: 0 0 0 $border-width $purple;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
