/* You can add global styles to this file, and also import other style files */

@import "./theme/global.scss";
@import "./theme/colors.scss";
@import "./theme/override-variables.scss"; // Variables
@import "./theme/button.scss";
@import "./theme/notification.scss";
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: $input-placeholder-color;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $input-placeholder-color;
}

body {
  font-family: Muli;
}

.white {
  color: $white
}

.bluegray {
  color: $bluegray;
}

.lightgray {
  color: $lightgray;
}

.whiteish {
  color: $whiteish;
}

.lightlavender {
  color: $lightlavender;
}

.menugray {
  color: $menugray;
}

.black {
  color: black;
}

.halfopacity {
  opacity: 0.5;
}

.blur {
  filter: blur(1px);
}

.headerOne {
  font-family: Muli;
  color: $csms-header-color;
  font-weight: bold;
  font-size: 36px;
}

.mainHeader {
  @extend .headerOne;
  color: $submenugray;
  text-transform: uppercase;
}

.headerThree {
  @extend .headerOne;
  font-size: 16px;
  color: $csms-subheader-color;
}

.headerFour {
  @extend .headerOne;
  font-size: 12px;
  font-weight: normal;
}

.headerFive {
  @extend .headerThree;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.headerOneWhite {
  @extend .headerOne;
  color: $white;
}

.headerFourWhite {
  @extend .headerFour;
  color: $white;
}

.headerTwo {
  font-family: Muli;
  color: $csms-header-color;
}

.headerLarge {
  @extend .headerOne;
  font-size: 60px;
}

.menuHeaderThree {
  @extend .headerThree;
  font-size: 14px;
  color: $menugray;
}

.menuHeaderFour {
  @extend .headerFour;
  color: $submenugray;
}

.csms-main-bottom-section {
  background-color: #EFF3FC;
}

.csms-list li {
  border-bottom: 1px solid $menugrayTransparent;
}

.csms-form-label {
  font-size: 16px;
  color: $csms-label-color;
  font-family: Muli;
  font-weight: 800;
}

.csms-textarea {
  max-width: 100%;
  width: 100%;
  border: 1px solid $input-border-color;
  padding: 0 6px;
  background: $csms-input-background;
  min-height: 100px;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
  font-size: 16px;
  color: $csms-input-color;
}

.csms-input:focus {
  outline: none;
}

.csms-input-text {
  background: $csms-input-background;
  border: 1px solid $input-border-color;
  color: $csms-input-color;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  line-height: 38px;
  max-width: 100%;
  width: 100%;
  padding: 0 6px;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  border-radius: 0;
}

.csms-input-text:hover {
  border: 1px solid darken($input-border-color, 20%);
}

.csms-input-select {
  padding-right: 20px;
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216…%20points%3D%224%2013%201%208%207%208%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  line-height: 38px;
  max-width: 100%;
  width: 100%;
  border: 0 none;
  padding: 0 6px;
  background: #fbf9fc;
  color: $csms-input-color;
  font-size: 14px;
  border: 1px solid $input-border-color;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
}

.csms-offcanvas {
  background-color: $green;
} // ngx-datatable overrides
.page-count {
  @extend .headerTwo;
}

.csms-background-first-menu {
  background-color: $csms-background-first-menu;
  z-index: 1000;
}

.csms-background-second-menu {
  background-color: $csms-background-second-menu;
  z-index: 500;
}

.csms-background-white {
  background-color: $white;
}

.csms-background-bluegray {
  background-color: $bluegray;
}

.uk-grid,
.uk-container {
  select2 {
    display: block;
    .select2-container {
      width: 100% !important;
    }
    .select2-container--default .select2-selection--multiple {
      background-color: $csms-input-background;
      border: 1px solid $input-border-color;
      border-radius: 0px;
      color: #fff;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
      background-color: $purple;
    }
  }
}

.csms-app {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.csms-col {
  height: 100%;
}


/* You can add global styles to this file, and also import other style files */

@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
