<app-delete-metrics [(project)]="project"></app-delete-metrics>

<hr />

<h3>Delete Project</h3>
<button type="button" class="uk-button uk-button-danger" uk-toggle="target: #deleteProjectModal">
    Delete {{ project.name }}
</button>

<div id="deleteProjectModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Delete {{ project.name }}?</h2>
        <p>Are you SURE you want to delete this project?</p>
        <p>This action is IRREVERSIBLE!</p>
        <p class="uk-text-right">
            <button type="button" class="uk-button uk-button-default uk-modal-close">Cancel</button>
            <button type="button" class="uk-button uk-button-danger uk-modal-close" (click)="onDelete()">
                Delete
            </button>
        </p>
    </div>
</div>

<app-loading-circle [loading]="loading"></app-loading-circle>