<li>
    <a href="javascript:void(0);" (click)="toggleShowOptions()">{{ project.name }} 
        <span *ngIf="!showOptions" uk-icon="icon: chevron-down"></span>
        <span *ngIf="showOptions" uk-icon="icon: chevron-up"></span>
    </a>
    <ul *ngIf="showOptions">
        <li>
            <a href="javascript:void(0);" (click)="onSelected(projectSelectionType.Settings)">Settings</a>
        </li>
        <li>
            <a href="javascript:void(0);" (click)="onSelected(projectSelectionType.AddRun)">Add/Run</a>
        </li>
        <li>
            <a href="javascript:void(0);" (click)="toggleShowResultsOptions()">Results 
                <span *ngIf="!showResultsOptions" uk-icon="icon: chevron-down"></span>
                <span *ngIf="showResultsOptions" uk-icon="icon: chevron-up"></span>
            </a>
            <ul *ngIf="showResultsOptions">
                <li>
                    <a href="javascript:void(0);" (click)="onSelected(projectSelectionType.ChartAverage)">Average</a>
                </li>
                <li>
                    <a href="javascript:void(0);" (click)="onSelected(projectSelectionType.ChartByFile)">By File</a>
                </li>
                <li>
                    <a href="javascript:void(0);" (click)="onSelected(projectSelectionType.ChartCautious)">Cautious</a>
                </li>
                <li>
                    <a href="javascript:void(0);" (click)="onSelected(projectSelectionType.ChartSevere)">Severe</a>
                </li>
                <li>
                    <a href="javascript:void(0);" (click)="onSelected(projectSelectionType.ExportCSV)">Export CSV</a>
                </li>
            </ul>
        </li>
    </ul>
</li>