<div class="uk-inline uk-padding-remove">
  <img src="/assets/csms-background.jpg" alt="">
  <div class="uk-overlay uk-overlay-primary uk-position-cover uk-padding-remove">
    <div class="uk-position-top-center uk-width-1-2 uk-text-center uk-margin-large-top">
      <div class="headerOneWhite">Introducing an easy way to get design metrics.</div>
      <div class="uk-text-small uk-margin-medium">
        <a href="http://codechowder.com/" target="_blank">Learn more.</a>
      </div>
      <br />
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-1">
          <button class="csms-button-green uk-width-large" type="button" [routerLink]="[ '/register']">Sign Me Up!</button>
        </div>
        <div class="uk-width-1-1">
          <button class="csms-button-green-outline uk-width-large" type="button" [routerLink]="[ '/login']">Sign In</button>
        </div>
      </div>
    </div>
  </div>
</div>
