<div id="createProject" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-text-large lightlavender">Create a New Project</h2>
    <form ngNativeValidate (ngSubmit)="onCreate() ">
      <input type="text " class="csms-input-text csms-input " aria-describedby="register-name-addon " name="name
    " [(ngModel)]="project.name " placeholder="Project Alpha " required />
      <button class="csms-button-purple uk-margin-small-top " type="submit ">Create Project</button>
      <button class="csms-button-gray uk-margin-small-top uk-modal-close " type="button ">Close</button>
    </form>
  </div>
</div>

<app-loading-circle [loading]="loading "></app-loading-circle>
