<div class="uk-placeholder">
  <h3>Project Statistics</h3>
  <span class="headerThree">Total SLOC: </span>
  <div *ngIf="totalSlocLoading" uk-spinner></div>
  <span *ngIf="!totalSlocLoading" class="headerFive">{{ totalSloc }}</span>

  <h3>Cautious Metrics</h3>
  <div *ngIf="cautiousMetricsLoading" uk-spinner></div>
  <div *ngIf="!cautiousMetricsLoading">
    <table class="uk-table uk-table-small uk-table-striped">
      <thead>
        <tr>
          <td>Metric</td>
          <td>Location</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cm of cautiousMetrics">
          <td>{{ cm.metricName }}</td>
          <td>{{ cm.location }}</td>
          <td>{{ cm.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Severe Metrics</h3>
  <div *ngIf="severeMetricsLoading" uk-spinner></div>
  <div *ngIf="!severeMetricsLoading">
    <table class="uk-table uk-table-small uk-table-striped">
      <thead>
        <tr>
          <td>Metric</td>
          <td>Location</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sm of severeMetrics">
          <td>{{ sm.metricName }}</td>
          <td>{{ sm.location }}</td>
          <td>{{ sm.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
