<div class="uk-width-1-1 mainHeaderSection">
  <span class="mainHeader uk-margin-large-left uk-margin-top">By File</span>
  <input class="uk-input uk-margin-large-left" type="text" placeholder="Project > Folder > File.cs">
</div>
<ul class="uk-child-width-expand" uk-tab>
  <li><a href="javascript:void(0);">DCC</a></li>
  <li><a href="javascript:void(0);">WMC</a></li>
  <li><a href="javascript:void(0);">LCOM</a></li>
  <li><a href="javascript:void(0);">SLOC</a></li>
</ul>
<div class="uk-placeholder uk-height-large"></div>
<div class="csms-main-bottom-section uk-height-small">
  <div class="uk-child-width-1-3@s uk-grid-collapse uk-text-center" uk-grid>
    <div>
      <div class="uk-tile uk-tile-muted">
        <p class="uk-h4">Current</p>
      </div>
    </div>
    <div>
      <div class="uk-tile uk-tile-muted">
        <p class="uk-h4">Average</p>
      </div>
    </div>
    <div>
      <div class="uk-tile uk-tile-muted">
        <p class="uk-h4">Delta %</p>
      </div>
    </div>
  </div>
</div>
