<ul class="uk-navbar-nav">
  <li><a *ngIf="!authenticated" [routerLink]="['/login']">Login</a></li>
  <li><a *ngIf="!authenticated" [routerLink]="['/register']">Register</a></li>
  <li><a *ngIf="authenticated" [routerLink]="['/dashboard']">Dashboard</a></li>
  <li><a [routerLink]="['/pricing']">Pricing</a></li>
  <li><a *ngIf="authenticated" href="javascript:void(0);" (click)="onLogout()">Logout</a></li>
</ul>
