<div class="uk-placeholder">
  <h3>Plan Details</h3>
  <div>
    <span class="headerThree">Allowed Projects:</span>
    <div *ngIf="licenseDataLoading" uk-spinner></div>
    <span *ngIf="!licenseDataLoading"> <span class="headerFive">{{ projects.length }} / {{ licenseData.allowedProjects }}</span>
    <progress class="uk-progress" [value]="projects.length" [max]="licenseData.allowedProjects">
    </progress>
    </span>
  </div>

  <div *ngIf="licenseData.experationDate">
    <div *ngIf="licenseDataLoading" uk-spinner></div>
    <div *ngIf="!licenseDataLoading">
      <span class="headerThree">License Expiration:</span>
      <span class="headerFive">{{ licenseData.experationDate | date }}
      </span>
    </div>

    <div>
      <span class="headerThree">Project Sharing Allowed:</span>
      <div *ngIf="licenseDataLoading" uk-spinner></div>
      <span *ngIf="!licenseDataLoading" class="headerFive">{{ licenseData.allowShare ? "YES" : "NO" }}
    </span>
    </div>

    <h3>Plan Details By Project</h3>
    <div *ngIf="licenseDataLoading" uk-spinner></div>
    <div *ngIf="!licenseDataLoading">
      <div *ngIf="projectsLoading" uk-spinner></div>
      <div *ngIf="!projectsLoading">
        <div *ngFor="let project of projects">
          <app-project-remaining-metrics [project]="project" [maxAllowedMetrics]="licenseData.maxFreeMetrics">
          </app-project-remaining-metrics>
        </div>
        <div *ngIf="!projects.length">
          <h5>Create a project to get started.</h5>
        </div>
      </div>
    </div>
  </div>
