<div class="csms-main-bottom-section uk-height-small">
  <div class="uk-child-width-1-3@s uk-grid-collapse uk-text-center" uk-grid>
    <div>
      <div class="uk-tile uk-tile-muted">
        <p class="uk-h4">Current</p>
        <p>{{chartData?.current}}</p>
      </div>
    </div>
    <div>
      <div class="uk-tile uk-tile-muted">
        <p class="uk-h4">Average</p>
        <p>{{chartData?.average}}</p>
      </div>
    </div>
    <div>
      <div class="uk-tile uk-tile-muted">
        <p class="uk-h4">Delta %</p>
        <p>{{chartData?.delta}}</p>
      </div>
    </div>
  </div>
</div>