.uk-button {
  border-radius: $global-jobstack-border;
}

.csms-linkedin-button {
  border-radius: $global-jobstack-border;
  border-style: solid;
  border-width: 2px;
  border-color: $linkedin-color;
  margin: 0;
  overflow: visible;
  font-family: Muli;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color, border-color;
  background-color: $linkedin-color;
  color: $white;
  cursor: pointer;
}

.csms-googleplus-button {
  @extend .csms-linkedin-button;
  background-color: $googleplus-color;
  border-color: $googleplus-color;
}

.csms-facebook-button {
  @extend .csms-linkedin-button;
  background-color: $facebook-color;
  border-color: $facebook-color;
}

.csms-linkedin-button:hover {
  background-color: darken($linkedin-color, 20%);
}

.csms-facebook-button:hover {
  background-color: darken($facebook-color, 20%);
}

.csms-googleplus-button:hover {
  background-color: darken($googleplus-color, 20%);
}

.csms-button-green-outline {
  border-radius: $global-jobstack-border;
  border-style: solid;
  border-width: 2px;
  border-color: $green;
  background: transparent;
  margin: 0;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color, border-color;
  cursor: pointer;
}

.csms-button-green-outline:hover {
  color: $gray-five;
  border-color: $white;
  text-decoration: none;
}

.csms-button-link {
  padding: 0;
  line-height: 1.5;
  background: none;
  color: $white;
}

.csms-button-link-blue-gray {
  @extend .csms-button-link;
  color: $bluegray;
}

.csms-button-link-blue-gray:hover {
  color: lighten($bluegray, 10%);
}

.csms-button-green {
  border-radius: $global-jobstack-border;
  border-style: solid;
  border-width: 2px;
  border-color: $green;
  margin: 0;
  overflow: visible;
  font: inherit;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color, border-color;
  background-color: $green;
  color: #ffffff;
  cursor: pointer;
  min-width: 11rem;
}

.csms-button-green:hover {
  background-color: darken($green, 20%);
}

.csms-button-blue {
  @extend .csms-button-green;
  background-color: darken($blue, 20%);
  border-color: darken($blue, 20%);
}

.csms-button-blue:hover {
  background-color: darken($blue, 40%);
}

.csms-button-purple {
  @extend .csms-button-green;
  background-color: $purple;
  border-color: $purple;
  font-size: 14px;
  color: $gray-five;
}

.csms-button-purple:hover {
  background-color: $purple;
  border-color: lighten($purple, 5%);
  text-decoration: none;
}

.csms-button-purple-outline {
  @extend .csms-button-green;
  background-color: transparent;
  border-color: $purple;
  font-size: 14px;
  color: $purple;
}

.csms-button-purple-outline:hover {
  background-color: transparent;
  border-color: lighten($purple, 5%);
  text-decoration: none;
}

.csms-button-gray {
  @extend .csms-button-green;
  background-color: $whiteish;
  border-color: $whiteish;
  font-size: 14px;
  color: $gray-dark;
}

.csms-button-gray:hover {
  background-color: $whiteish;
  border-color: lighten($whiteish, 5%);
  text-decoration: none;
}

.csms-center-buttons {
  display: table;
  a,
  button {
    margin: 0 0.5rem;
  }
}

.csms-title-button:hover {
  color: $gray-five;
}

button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
