// Colors
$gray-one: #BFBFBF;
$gray-two: #7f7f7f;
$white: #ffffff;
$gray-dark: #404040;
$gray-three: #e5e5e5;
$gray-four: #EDEDED;
$gray-five: #D8D8D8;
$green: #569598;
$green-one: #84C3C6;
$blue: #98E1E4;
$facebook-color: #3e5a9b;
$linkedin-color: #297cb9;
$googleplus-color: #DA4A41;
$whiteish: #FAFBFD;
$darkblue: #262B40;
$purple: #4D5AFF;
$aquateal: #CEE7EA;
$lavender: #D6D9F6;
$mediumgray: #8D8D92;
$greengray: #B3C3C0;
$lightlavender: #8AA1D8;
$menuOneBlue: #1C2237;
$menuTwoBlue: #212943;
$bluegray: #7685B6;
$lightgray: #8796A0;
$menugray: #8494A5;
$submenugray: #ABB9C7;
$mainHeaderColor: rgba(#7689B6, 0.73);
$hrColor: #979797;
$menugrayTransparent: rgba( $menugray, .3);
$csms-input-background: $white;
$csms-link-color: $white;
$csms-label-color: $bluegray;
$csms-header-color: $bluegray;
$csms-input-color: $bluegray;
$csms-subheader-color: $bluegray;
$csms-background-first-menu: $menuOneBlue;
$csms-background-second-menu: $menuTwoBlue;
