$global-color: $gray-two;
$global-link-color: $csms-link-color;
$global-link-hover-color: $purple;
$base-link-hover-text-decoration: none;
$global-primary-background: $purple;
$global-secondary-background: $green;
$button-default-color: $purple;
$base-heading-color: $global-color;
$overlay-primary-background: rgba($gray-dark, 0.8);
$navbar-background: $gray-dark;
$global-background: $gray-four;
$form-radio-checked-background: $green;
$label-color: $global-color;
$offcanvas-bar-background: $submenugray;
$card-default-background: $gray-four;
$input-border-color: $lightlavender;
$input-placeholder-color: $lightlavender;
$modal-dialog-background: $menuTwoBlue;
