<div class="uk-placeholder">
    <h3>Export Metrics to Excel</h3>
    <form ngNativeValidate (ngSubmit)="exportMetrics()">
        <div class="uk-child-width-expand uk-grid-small" uk-grid>
            <div class="uk-width-1-1">
                <label class="csms-form-label">Metrics Run to Export</label>
                <select2 [data]="metricsRunData" [options]="metricsRunOptions" [value]="0" (valueChanged)="onRunSelect($event)"></select2>
            </div>
            <div class="uk-width-1-1">
                <button type="submit" class="csms-button-purple">Export</button>
            </div>
        </div>
    </form>
</div>

<app-loading-circle [loading]="loading"></app-loading-circle>