<div class="uk-placeholder">
    <h3>Average Metrics</h3>

    <ul uk-switcher class="uk-tab">
        <li><a href="javascript:void(0);">Direct Class Coupling</a></li>
        <li><a href="javascript:void(0);">Lack of Cohesion</a></li>
        <li><a href="javascript:void(0);">SLOC</a></li>
        <li><a href="javascript:void(0);">Complexity</a></li>
    </ul>

    <ul class="uk-switcher">
        <li>
            <div style="display: block">
                <canvas #dccChart></canvas>
            </div>
        </li>
        <li>
            <div style="display: block">
                <canvas #lcomChart></canvas>
            </div>
        </li>
        <li>
            <div style="display: block">
                <canvas #slocChart></canvas>
            </div>
        </li>
        <li>
            <div style="display: block">
                <canvas #wmcChart></canvas>
            </div>
        </li>
    </ul>

    <hr />

    <app-delete-metrics [(project)]="project"></app-delete-metrics>
</div>