<form ngNativeValidate (ngSubmit)="onRegister()">
  <div class="uk-child-width-expand uk-margin-large-top uk-text-center" uk-grid>
    <div></div>
    <div class="uk-width-1-2@m uk-width-1-1@s">
      <div class="headerOne"><b>Sign up</b> to start using Measure today!</div>
    </div>
    <div></div>
  </div>
  <div class="uk-child-width-expand uk-text-center" uk-grid>
    <div></div>
    <div class="uk-width-1-2@m uk-width-1-1@s">
      <hr/>
    </div>
    <div></div>
  </div>
  <div class="uk-child-width-expand uk-text-center uk-grid-small" uk-grid>
    <div></div>
    <div class="uk-width-1-2@m uk-width-1-1@s">
      <div class="uk-child-width-expand uk-text-left uk-grid-small" uk-grid>
        <div class="uk-width-1-2@m uk-width-1-1@s">
          <label class="csms-form-label" for="firstname">First Name</label>
          <input type="text" class="csms-input-text csms-input" aria-describedby="register-firstname-addon" name="firstname" [(ngModel)]="account.firstName"
            placeholder="First Name" required />
        </div>
        <div class="uk-width-1-2@m uk-width-1-1@s">
          <label class="csms-form-label" for="lastname">Last Name</label>
          <input type="text" class="csms-input-text csms-input" aria-describedby="register-lastname-addon" name="lastname" [(ngModel)]="account.lastName"
            placeholder="Last Name" required />
        </div>
      </div>
      <div class="uk-child-width-expand uk-text-left uk-grid-small" uk-grid>
        <div class="uk-width-1-2@m uk-width-1-1@s">
          <label class="csms-form-label" for="company">Company</label>
          <input type="text" class="csms-input-text csms-input" aria-describedby="register-company-addon" name="company" [(ngModel)]="account.company"
            placeholder="Company" required />
        </div>
        <div class="uk-width-1-2@m uk-width-1-1@s">
          <label class="csms-form-label" for="email">Email Address</label>
          <input type="text" class="csms-input-text csms-input" aria-describedby="register-email-addon" name="email" [(ngModel)]="account.email"
            placeholder="Email" required />
        </div>
      </div>
      <div class="uk-child-width-expand uk-text-left uk-grid-small" uk-grid>
        <div class="uk-width-1-2@m uk-width-1-1@s">
          <label class="csms-form-label" for="password">Password</label>
          <input type="password" class="csms-input-text csms-input" aria-describedby="register-password-addon" name="password" [(ngModel)]="account.password"
            placeholder="Password" required />
        </div>
        <div class="uk-width-1-2@m uk-width-1-1@s">
          <label class="csms-form-label uk-invisible" for="passwordConfirm">Confirmation Password</label>
          <input type="password" class="csms-input-text csms-input" aria-describedby="register-password-confirm-addon" name="passwordConfirm"
            [(ngModel)]="passwordConfirm" placeholder="Confirm Password" required />
        </div>
      </div>
    </div>
    <div></div>
  </div>
  <div class="uk-child-width-expand uk-text-center" uk-grid>
    <div></div>
    <div class="uk-width-1-2@m uk-width-1-1@s">
      <button type="submit" class="csms-button-purple uk-width-1-2@m uk-width-1-1@s">Create Account</button>
    </div>
    <div></div>
  </div>
  <div class="uk-child-width-expand uk-text-center" uk-grid>
    <div></div>
    <div class="uk-width-1-2@m uk-width-1-1@s">
      <button class="csms-button-purple-outline uk-width-1-2@m uk-width-1-1@s" type="button" [routerLink]="[ '/login']">Sign In</button>
    </div>
    <div></div>
  </div>
</form>
<app-loading-circle [loading]="loading"></app-loading-circle>
