<div class="uk-position-center">
  <!-- <div class="uk-container-center">
    <img src="/src/assets/logo.png" class="uk-width-medium uk-align-center" />
  </div> -->
  <div class="uk-card uk-card-default uk-card-body">
    <div class="uk-text-center">
      <h2 class="headerOne"><b>Log In</b> to your account</h2>
    </div>
    <form ngNativeValidate (ngSubmit)="onLogin()">
      <div class="uk-margin-small-bottom">
        <input type="text" class="csms-input-text csms-input" aria-describedby="register-email-addon" name="email" [(ngModel)]="account.email"
          placeholder="Email" required />
      </div>
      <div class="uk-margin-bottom">
        <input type="password" class="csms-input-text csms-input" aria-describedby="register-password-addon" name="password" [(ngModel)]="account.password"
          placeholder="Password" required />
      </div>
      <div class="uk-margin-small-bottom">
        <button class="csms-button-purple uk-width-1-1" type="submit">Login</button>
        <!--<button class="uk-button uk-button-default" [routerLink]="[ '/../register']">Register</button>-->
      </div>
      <!-- <div class="uk-button-group uk-margin-bottom">
        <button class="csms-facebook-button socialButtons" (click)="socialMediaLogin(SocialMediaTypes.Facebook)"><span uk-icon="icon: facebook"></span> Facebook</button>
        <button class="csms-googleplus-button socialButtons" (click)="socialMediaLogin(SocialMediaTypes.Google)"><span uk-icon="icon: google"></span> Google</button>
        <button class="csms-linkedin-button socialButtons" (click)="socialMediaLogin(SocialMediaTypes.LinkedIn)"><span uk-icon="icon: linkedin"></span> LinkedIn</button>
      </div> -->
      <div class="uk-position-bottom uk-padding-small uk-width-1-1">
        <div class="uk-text-small uk-text-center">
          New to Measure? <a href="javascript:void(0);" class="csms-button-link-blue-gray" [routerLink]="['/register']">Sign Up</a>
        </div>
      </div>
    </form>
    <br />
  </div>
  <div class="uk-container uk-container-center uk-text-center uk-margin-medium-top">
    <div class="headerFour uk-align-center">CSMS is a <img src="/assets/codechowder_wText.png" style="width: 100px;" /> Application </div>
  </div>
</div>

<app-loading-circle [loading]="loading"></app-loading-circle>
