<div class="uk-placeholder">
    <h3>Severe Metrics</h3>

    <ul uk-switcher class="uk-tab">
        <li><a href="javascript:void(0);" (click)="onDccClick()">Direct Class Coupling</a></li>
        <li><a href="javascript:void(0);" (click)="onLcomClick()">Lack of Cohesion</a></li>
        <li><a href="javascript:void(0);" (click)="onSlocClick()">SLOC</a></li>
        <li><a href="javascript:void(0);" (click)="onWmcClick()">Complexity</a></li>
    </ul>

    <ul class="uk-switcher">
        <li>
            <select2 [data]='dccFiles' [options]="options" (valueChanged)="dccFileSelected($event)"></select2>
            <div style="display: block">
                <canvas #dccChart></canvas>
            </div>
        </li>
        <li>
            <select2 [data]='lcomFiles' [options]="options" (valueChanged)="lcomFileSelected($event)"></select2>
            <div style="display: block">
                <canvas #lcomChart></canvas>
            </div>
        </li>
        <li>
            <select2 [data]='slocFiles' [options]="options" (valueChanged)="slocFileSelected($event)"></select2>
            <div style="display: block">
                <canvas #slocChart></canvas>
            </div>
        </li>
        <li>
            <select2 [data]='wmcFiles' [options]="options" (valueChanged)="wmcFileSelected($event)"></select2>
            <div style="display: block">
                <canvas #wmcChart></canvas>
            </div>
        </li>
    </ul>
</div>

<app-chart-bottom [chartData]="chartData"></app-chart-bottom>