<div class="uk-placeholder">
  <form ngNativeValidate (ngSubmit)="onUpdate()">
    <h3>Project Name</h3>
    <input type="text" class="csms-input-text csms-input" aria-describedby="register-name-addon" name="name" [(ngModel)]="project.name"
      placeholder="Project Alpha" required />

    <h3>Ignored Files and Folders</h3>
    <table class="uk-table uk-table-striped">
      <thead>
        <tr>
          <th>Pattern</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ignoreFile of ignoreFiles">
          <td>{{ ignoreFile.pattern }}</td>
          <td><span uk-icon="icon: trash" (click)="removeIgnoreFile(ignoreFile)"></span></td>
      </tbody>
    </table>

    <div>
      <form ngNativeValidate (ngSubmit)="addIgnore()">
        <input type="text" class="csms-input-text csms-input" aria-describedby="ignorefile-add-addon" name="pattern" [(ngModel)]="addIgnoreFile.pattern"
          placeholder="src/app/*.ts" title="Specify one folder name, file name, or any combination using up to one wildcard for the file name." />
        <button type="submit" class="csms-button-purple uk-margin-small-top">Add Ignore</button>
      </form>
    </div>

    <h3>Metric Severity Thresholds</h3>
    <ul data-uk-switcher="{connect:'#sourceTypeSwitcher'}" class="uk-tab">
      <li><a href="javascript:void(0);">C#</a></li>
      <li><a href="javascript:void(0);">TypeScript</a></li>
      <li><a href="javascript:void(0);">TSX</a></li>
      <li><a href="javascript:void(0);">JavaScript</a></li>
      <li><a href="javascript:void(0);">JSX</a></li>
      <li><a href="javascript:void(0);">VB</a></li>
    </ul>

    <ul id="sourceTypeSwitcher" class="uk-switcher">
      <li>
        <app-source-metric-settings [project]="project" [sourceType]="sourceCodeType.CSharp" [switcherName]="'csSwitcher'" (metricSeverityChange)="onMetricSeverityChanged($event)"></app-source-metric-settings>
      </li>
      <li>
        <app-source-metric-settings [project]="project" [sourceType]="sourceCodeType.TypeScript" [switcherName]="'tsSwitcher'" (metricSeverityChange)="onMetricSeverityChanged($event)"></app-source-metric-settings>
      </li>
      <li>
        <app-source-metric-settings [project]="project" [sourceType]="sourceCodeType.TypeScriptReact" [switcherName]="'tsxSwitcher'"
          (metricSeverityChange)="onMetricSeverityChanged($event)"></app-source-metric-settings>
      </li>
      <li>
        <app-source-metric-settings [project]="project" [sourceType]="sourceCodeType.JavaScript" [switcherName]="'jsSwitcher'" (metricSeverityChange)="onMetricSeverityChanged($event)"></app-source-metric-settings>
      </li>
      <li>
        <app-source-metric-settings [project]="project" [sourceType]="sourceCodeType.JavaScriptReact" [switcherName]="'jsxSwitcher'"
          (metricSeverityChange)="onMetricSeverityChanged($event)"></app-source-metric-settings>
      </li>
      <li>
        <app-source-metric-settings [project]="project" [sourceType]="sourceCodeType.VisualBasic" [switcherName]="'vbSwitcher'" (metricSeverityChange)="onMetricSeverityChanged($event)"></app-source-metric-settings>
      </li>
    </ul>

    <button class="csms-button-purple uk-margin-small-top" type="submit">Edit Project</button>
  </form>
</div>

<app-loading-circle [loading]="loading"></app-loading-circle>
