<div id="shareProject" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-text-large lightlavender">Share {{ project.name }}</h2>
    <div *ngIf="sharedUsers.length">
      <table class="uk-table uk-table-divider uk-table-small uk-table-justify">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
            <th>Unshare</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of sharedUsers">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.company }}</td>
            <td><a uk-icon="icon: trash" (click)="onRemoveShare(user)"></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <form ngNativeValidate (ngSubmit)="onSearch()">
        <label for="emailSearch">Search for User</label>
        <input type="text" class="csms-input-text csms-input" aria-describedby="email-search-addon" name="emailSearch" [(ngModel)]="emailSearch"
          placeholder="Search using email" required />
        <button type="submit" class="csms-button-purple uk-margin-small-top">Search</button>
      </form>
    </div>
    <div *ngIf="foundUser">
      <table class="uk-table uk-table-small uk-table-justify">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ foundUser.firstName }}</td>
            <td>{{ foundUser.lastName }}</td>
            <td>{{ foundUser.company }}</td>
          </tr>
        </tbody>
      </table>
      <h4>Share with this user?</h4>
    </div>
    <button type="button" class="csms-button-purple uk-margin-small-top" (click)="onShare()" [attr.disabled]="!foundUser ? 'disabled' : null">Share</button>
    <button type="button" class="csms-button-purple-outline uk-margin-small-top uk-modal-close">Close</button>
  </div>
</div>

<app-loading-circle [loading]="loading"></app-loading-circle>
