<div>
    <label class="csms-form-label" for="metricValueAcceptable">Acceptable</label>
    <input type="number" class="csms-input-text csms-input" name="metricValueAcceptable"
        [(ngModel)]="metricSeverityAcceptable.value" 
        (ngModelChange)="onMetricSeverityChanged(metricSeverityAcceptable)" />
</div>
<div>
    <label class="csms-form-label" for="metricValueCautious">Cautious</label>
    <input type="number" class="csms-input-text csms-input" name="metricValueCautious"
        [(ngModel)]="metricSeverityCautious.value"
        (ngModelChange)="onMetricSeverityChanged(metricSeverityCautious)" />
</div>
<div>
    <label class="csms-form-label" for="metricValueSevere">Severe</label>
    <input type="number" class="csms-input-text csms-input" name="metricValueSevere"
        [(ngModel)]="metricSeveritySevere.value" 
        (ngModelChange)="onMetricSeverityChanged(metricSeveritySevere)" />
</div>