.my-drop-zone { 
    border: dotted 3px lightgray; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nv-file-over { 
    border: dotted 3px red; 
} 

/* Default class applied to drop zones on over */
.another-file-over-class { 
    border: dotted 3px green; 
}

#upload-files-header {
    margin-top: 20px;
}