<div class="uk-placeholder">
  <h3>Run Metrics</h3>

  <ul data-uk-switcher="{connect:'#runTypeSwitcher'}" class="uk-tab">
    <li><a href="javascript:void(0);">Git Repo</a></li>
    <li><a href="javascript:void(0);" (click)="getIgnoreFiles()">Upload Files</a></li>
  </ul>

  <ul id="runTypeSwitcher" class="uk-switcher">
    <li>
      <div class="uk-child-width-expand uk-grid-small" uk-grid>
        <div class="uk-width-1-1">
          <label class="csms-form-label" for="url">Clone URL</label>
          <input type="text" class="csms-input-text csms-input" aria-describedby="register-url-addon" name="url" [(ngModel)]="info.url"
            placeholder="Git Repo Clone URL" />
        </div>
        <div class="uk-width-1-2@m">
          <label class="csms-form-label" for="selectedBranch">Branch</label>
          <input type="text" class="csms-input-text csms-input" aria-describedby="register-selectedBranch-addon" name="selectedBranch"
            [(ngModel)]="info.selectedBranch" placeholder="Branch Name" />
        </div>
        <!-- <div class="uk-width-1-2">
          <label class="csms-form-label" for="userName">Username</label>
          <input type="text" class="csms-input-text csms-input" aria-describedby="register-userName-addon" name="userName" [(ngModel)]="info.userName"
            placeholder="Username" />
        </div> -->
        <div class="uk-width-1-2@m">
          <label class="csms-form-label" for="password">Password</label>
          <div></div>
          <input type="password" class="csms-input-text csms-input" aria-describedby="register-password-addon" name="password" [(ngModel)]="info.password"
            placeholder="Password" />
        </div>
        <div class="uk-width-1-1">
          <span *ngIf="!showGitCommits">
            <button type="button" class="csms-button-purple" (click)="getCommits()">
              Select Commits
            </button> Ignore this option to run only the last commit.
          </span>
          <select2 *ngIf="showGitCommits" [options]="gitCommitsOptions" [data]="gitCommitsData"
            (valueChanged)="onGitCommitsChange($event)"></select2>
        </div>
        <div class="uk-width-1-1">
          <button type="button" class="csms-button-purple" (click)="runGitMetrics()">Git Metrics</button>
        </div>
      </div>
    </li>
    <li>
      <div uk-grid>
        <div class="uk-width-1-1">
          <div class='headerTwo' id="upload-files-header">Select files{{ project ? " for " + project.name : "" }}</div>
        </div>
        <div class="uk-width-1-4">
          <input #directoryUpload type="file" webkitdirectory mozdirectory /><br/>
        </div>
        <div>
          <div class="headerTwo">Upload queue</div>
          <p>Queue length: {{ uploader?.queue?.length }}</p>

          <table class="uk-table uk-table-divider">
            <thead>
              <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody *ngIf="uploader && uploader.queue">
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.webkitRelativePath || item?.file?.name }}</strong></td>
                <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess" uk-icon="icon: check"></span>
                  <span *ngIf="item.isCancel" uk-icon="icon ban"></span>
                  <span *ngIf="item.isError" uk-icon="icon close"></span>
                </td>
                <td nowrap>
                  <button type="button" class="uk-button uk-button-default uk-button-small" (click)="item.remove()">
                    <span uk-icon="icon: trash"></span> Remove
                </button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="uk-width-3-1">
            <button type="button" class="csms-button-purple" (click)="uploadAndRun()">
              <span uk-icon="icon: upload"></span> Upload/Run
          </button>
            <button type="button" class="csms-button-purple-outline" (click)="uploader.cancelAll()">
              <span uk-icon="icon: ban"></span> Cancel all
          </button>
            <button type="button" class="uk-button uk-button-danger" (click)="uploader.clearQueue()">
              <span uk-icon="icon: trash"></span> Remove all
          </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<app-loading-circle [loading]="loading"></app-loading-circle>
