<span class="headerThree">{{ project.name }}: </span>
<div *ngIf="loading" uk-spinner></div>
<span *ngIf="!loading" class="headerFive"> {{ current }} / {{ maxAllowedMetrics }}
  <progress class="uk-progress" [value]="current" [max]="maxAllowedMetrics">
  </progress>
</span>
